
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Sora', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 35, 54);
  color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  height: 5vh;
  width: 5vh;
}

.container {
  display: flex;
  text-align: center;
}

.row {
  border: 1px solid lightgray;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 1%;
  margin: 2%;
  gap: 25px;
  width: 20%;
}

.row:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  border-top: 1px solid black;
  background: rgb(45, 45, 63);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  justify-content: space-between;
}

.logo {
  margin-left: 2%;
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: center;
}

.button-coins {
  max-width: 30%;
  padding: 1.5%;
  border-radius: 20px;
  border: 1px solid white;;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  background: none;
  color: white;
  font-family: 'Sora';
}

.button-coins:hover,
.button-coins.active {
  border: 2px solid green;;
  box-shadow: 0px 0px 5px rgba(0, 128, 0, 0.3);
  background: none;
  font-weight: bold;
  color: green;

}

.interval {
  background-color: rgb(54, 57, 82);
  box-shadow: 0px 0px 15px rgba(54, 57, 82);
  color: white;
  font-size: 1.5rem;
  font-family: 'Sora';
  border: none;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

.interval:hover,
.interval:active {
  background: rgb(78, 82, 110);
  box-shadow: 0px 0px 15px rgba(78, 82, 110);
}

.description-header {
  display: flex;
  gap: 2%;
  align-items: center;
  margin-top: 2%;
}

.description-subheader {
  display: flex;
  gap: 2%;
}

.header-image {
  width: 4vw;
  height: 4vw;
  margin-right: 2%;
}

.description {
  margin: 0% 4%;
}

.coins {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 25px;
  padding: 2%;
}

.item {
  border: 1px solid lightgray;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-template-areas: 
  "img img symbol price"
  "img img name watchlist";
}

.coin-name {
  grid-area: name;
  text-align: left;
}

.coin-image {
  height: 70%;
  width: 70%;
  grid-area: img;
}

.coin-symbol {
  text-align: left;
  grid-area: symbol;
}

.coin-price {
  grid-area: price;
  justify-content: right;
}

.star {
  grid-area: watchlist;
}

.item:hover {
  cursor: pointer;
}

.footer {
  border-top: 1px solid black;
  background: rgb(45, 45, 63);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  display: grid;
  bottom: 0;
  width: 96%;
  padding: 2%;
  margin-top: 2%;
}

.intro {
  padding:2%
}

.nav-title {
  color: rgb(45, 45, 63);
}

.positive {
  color: rgb(38, 179, 38);
}

.negative {
  color: rgb(209, 12, 12);
}

a {
  text-decoration: none;
  color: rgb(80, 152, 196);
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
}

.hide-menu {
  display: none;
}

.show-menu {
  display: flex;
  position: absolute;
  right: 0;
  background: lightgray;
  justify-content: left;
  height: 100vh;
  width: 25%;
}

li {
  text-decoration: none;
  list-style: none;
}

.input {
  padding-left: 5%;
  min-height: 35px;
  border: 1px solid lightgray;
  border-radius: 50px;
  margin-right: 2vw; 
  font-size: large;
  font-family: 'sora';
}

.coin-info {
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-bottom: 3%;
}

.coin-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  border-bottom: 1px solid lightgray;
  padding: 1%;
}

.coin-info-row-different {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  padding: 1%;
  grid-template-areas: 
  "title title"
  "positive negative";
  justify-content: center;
  align-items: center;
}

.coin-info-title {
  grid-area: title;
  text-align: center;
}

.coin-info-positive {
  grid-area: positive;
  text-align: center;
}

.coin-info-negative {
  grid-area: negative;
  text-align: center;
}

svg {
  height: 2.5vw;
  width: 2.5vw;
}

.graphs {
 margin: 2%;
}

.user-container {
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 15px;
  margin: 3% 30%;
  display: grid;
  grid-auto-flow: row;
  gap: 2%;
  padding-bottom: 5%;
  min-width: 300px;
  height: auto;
}

.form-components {
  width: 20vw;
  display: grid;
  gap: 5%;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.form-label {
  font-family: 'Sora';
  font-size: larger;
}

.user-title {
  font-size: 2vw;
  text-align: center;
}

.form-bottom {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.button-form {
  font-size: larger;
  padding: 1vw;
  min-width: 200px;
}

.form-input {
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  padding-left: 5%;
  font-family: 'Sora';
  font-size: large;
  font-family: 'Sora';
}

.edit-profile-form {
  border: 1px solid lightgray;
  border-radius: 15px;
  margin: 3% 30%;
  gap: 3%;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-bottom: 1vw;
}

.profile-row {
  width: 100%;
  font-family: 'sora';
  font-size: large;
}

.profile-input {
  min-height: 30px ;
  font-size: large;
  font-family: 'Sora';
  min-width: 400px;
  padding-left: 5%;
  border-radius: 15px;
}

.profile-button {
  justify-self: center;
  min-width: 150px;
}

.profile-link {
  text-align: center;
  font-size: larger;
}

.watchlist-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5%
}

@media (max-width: 600px) {
  .user-title {
    font-size: 20px;
  }
  .show-menu {
    width: 100%;
    height: 100%;
  }
  .container {
    flex-direction: column;
    text-align: left;
  }
  .row {
    padding: 2%;
    width: 93%;
    display: flex;
    align-items: center;
  }
  .coins {
    flex-direction: column;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
  }
  .item {
    padding: 2%;
    width: 93%;
    display: flex;
    justify-content: space-around;
    gap: 5%;
  }
  .coin-image {
    height: 10vw;
    width: 10vw;
  }
  button {
    width: 40%;
    padding: 2vw;
    margin: 4%;
  }
  .input {
    height: 4vh;
  }
  .footer {
  bottom: 0;
  position: relative;
  width: 96%;
  padding: 2%;
  }
  .user-container {
    min-height: 600px;
    margin: none;
    align-self: center;
    left: 0;
  }
  body {
    margin: 0;
    padding: 0;
  }
}